/* === color === */

a, a:hover, a:focus, a:active, footer a.text-link:hover, strike, .post-meta span a:hover, footer a.text-link,
ul.meta-post li a:hover, ul.cat li a:hover, ul.recent li h6 a:hover, ul.portfolio-categ li.active a, ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover, ul.related-post li h4 a:hover, span.highlight, article .post-heading h3 a:hover,
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .nav > .active > a:focus {
    color: #3494c8;
}

.navbar-brand span {
    color: #3494c8;
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a {
    color: #3494c8;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #3494c8;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #3494c8;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #3494c8;
}

/* === background color === */

.custom-carousel-nav.right:hover, .custom-carousel-nav.left:hover,
.dropdown-menu li:hover,
.dropdown-menu li a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.pagination ul > .active > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span,
.flex-control-nav li a:hover,
.flex-control-nav li a.active {
    background-color: #3494c8;
}

/* === border color === */
.pagination ul > li.active > a,
.pagination ul > li.active > span, a.thumbnail:hover, input[type="text"].search-form:focus {
    border: 1px solid #3494c8;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #3494c8;
}

input:focus {
    border-color: #3494c8;
}

#sendmessage {
    color: #3494c8;
}

.pullquote-left {
    border-left: 5px solid #3494c8;
}

.pullquote-right {
    border-right: 5px solid #3494c8;
}

/* cta */

.cta-text h2 span {
    color: #3494c8;
}

ul.clients li:hover {
    border: 4px solid #3494c8;
}

/* box */
.box-bottom {
    background: #3494c8;
}

/* buttons */
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    background: #3494c8;
    border: 1px solid #3494c8;
}

.btn-theme {
    border: 1px solid #3494c8;
    background: #3494c8;
}

/* modal styled */
.modal.styled .modal-header {
    background-color: #3494c8;
}

/* blog */
.post-meta {
    border-top: 4px solid #3494c8;
}

.post-meta .comments a:hover {
    color: #3494c8;
}

.widget ul.tags li a:hover {
    background: #3494c8;
}

.recent-post .text h5 a:hover {
    color: #3494c8;
}

/* pricing box */

.pricing-box-alt.special .pricing-heading {
    background: #3494c8;
}

/* pagination */
#pagination a:hover {
    background: #3494c8;
}

/* pricing box */
.pricing-box.special .pricing-offer {
    background: #3494c8;
}

/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #3494c8;
}

[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #3494c8;
}

/* fancybox */
.fancybox-close:hover {
    background-color: #3494c8;
}

.fancybox-nav:hover span {
    background-color: #3494c8;
}

/* parallax c slider */
.da-slide .da-link:hover {
    background: #3494c8;
    border: 4px solid #3494c8;
}

.da-dots span {
    background: #3494c8;
}

/* flexslider */
#featured .flexslider .slide-caption {
    border-left: 5px solid #3494c8;
}

/* Nivo slider */
.nivo-directionNav a:hover {
    background-color: #3494c8;
}

.nivo-caption, .caption {
    border-bottom: #3494c8 5px solid;
}

/* footer */
footer {
    background: #3494c8;
}

#sub-footer {
    background: #2e3e4e;
}

.site-top {
    background: #3494c8;
}

ul.cat li .active {
    color: #3494c8;
}

.box-gray .icon .fa, h4, .heading {
    color: #3494c8;
}


.flex-caption {
    background-color: none;
}

.flex-caption .btn-theme {
    background: #3494c8;
}

.flex-caption .btn-theme:hover {
    background: #fff;
    color: #3494c8;
}


.btn-info {
    background: #3494c8;
    border-color: #2e3e4e;
}
.btn-info:hover {
    background: #2e3e4e;
}

.flex-control-paging li a.flex-active {
    background: #3494c8;
}

.flex-control-paging li a {
    background: #2e3e4e;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: transparent;
}


#inner-headline {
    background: #2e3e4e;
}

.navbar .nav li .dropdown-menu {
    background: #3494c8;
}
header .nav li .dropdown-menu li a {
    color: #fff;
}
.navbar .nav li .dropdown-menu li:hover {
    background: #2e3e4e;
}
@media (max-width: 767px) {
    header .navbar-nav > li {
        background: #3494c8;
    }

    .dropdown-menu {
        background: #3494c8;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    header .nav li a:hover,
    header .nav li a:focus,
    header .nav li.active a,
    header .nav li.active a:hover,
    header .nav li a.dropdown-toggle:hover,
    header .nav li a.dropdown-toggle:focus,
    header .nav li.active ul.dropdown-menu li a:hover,
    header .nav li.active ul.dropdown-menu li.active a {
        color: #fff;
    }

    .navbar .nav > li > a {
        color: #fff;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        background-color: #3494c8;
        color: #fff;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: #3494c8;
        color: #fff;
    }

}
